@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,600;1,400&display=swap');

body{
    margin: 0;
}

h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    color: #121212;
}

p, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #707070;
}

.section-title{
    text-align: center;
    font-size: 45px;
    line-height: 54.46px;
    color: #121212;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-desc{
    margin: 0px auto;
    text-align: center;
    width: 500px;
    font-weight: 400;
}

.action-btn{
    padding: 12px 20px;
    background-color: #FF5959;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
}

.head-section{
    background-image: url("./images//donation3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 670px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.head-section .head-content{
    width: 60%;
    margin: 0px auto;
}

.head-section h1{
    font-size: 65px;
    line-height: 78.66px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.head-content p{
    color: white;
    margin-top: 0;
}

.donate-today-section{
    margin-top: 130px;
}

.donate-today-section h2{
    
}



.donate-today-section .donate-amount{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.donate-amount p{
    background-color: #FAFAFA
    ;
    padding: 30px 30px;
    font-size: 30px;
    line-height: 36.31px;
    color: #707070;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.featured-donate{
    color: #FF5959;
    background-color: #FFEEEE
    ;
    border: 2px solid #FF5959;
}

.donate-today-section form{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}

.donate-today-section form input{
    border:none;
    border-bottom: 1px solid #DADADA
    ;
    width: 500px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.donate-today-section .action-btn{
    margin-top: 20px;
}

.donate-plan-section{
    margin-top: 130px;
}

.donate-plans{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.donate-plan{
    padding: 20px;
    border-radius: 5px;
}

.get-my-updates-section{
    margin-top: 130px;
}

.get-my-updates-section form{
    background-color: #FFF4D6;
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    padding: 80px 0px;
}

.get-my-updates-section form input{
    height: 38px;
    width: 250px;
    border: none;
    padding-left: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer{
    background-color: #0B0D17;
    padding: 40px 0px;
    text-align: center;
    margin-top: 130px;
}

footer h2{
    color: #FF5959;
    font-size: 36px;
}

footer p{
    color: white;
}